<nav class="navbar navbar-expand-lg navbar-dark navbar-minimal">
  <div class="container d-flex align-items-center justify-content-between">
    <a class="navbar-brand fw-semibold text-lowercase" href="#">luis pelaez.</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav gap-2">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#hero">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects">projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


